# Increment this timestamp when the contents of the file change.
XIP_TIMESTAMP="2014102800"

# The top-level domain for which the name server is authoritative.
XIP_DOMAIN="xip.test"

# The public IP addresses (e.g. for the web site) of the top-level domain.
# `A` queries for the top-level domain will return this list of addresses.
XIP_ROOT_ADDRESSES=( "1.2.3.1" )

# The public IP addresses on which this xip-pdns server will run.
# `NS` queries for the top-level domain will return this list of addresses.
# Each entry maps to a 1-based subdomain of the format `ns-1`, `ns-2`, etc.
# `A` queries for these subdomains map to the corresponding addresses here.
XIP_NS_ADDRESSES=( "1.2.3.4" "1.2.3.5" )

# Subdomain prefix for NS Records (i.e. ns-1.xip.test)
XIP_NS_SUBDOMAIN_PREFIX="ns-"

# How long responses should be cached, in seconds.
XIP_TTL=300
